$green: #4B9200;
$orange: #F9804B;
$yellow: #FFEE2E;
$orange_grad: #FED290;
$pink_grad: #FEBDAB;
$rad: #D31414;
$gray_smoky: #ABABAB;
$light_gray: #F1F3F2;
$frosted_glass: #FDFDFF;
$black_blue: #333B41;
$gray: #767474;
$dark_orange: #E47209;

%button1 {
    color: white;
    background-color: $orange;
    border-radius: 25px;
    width: 298px;
    height: 54px;
    border: none;
}

%button1_hover {
    color: white;
    background-color: $dark_orange;
    border-radius: 25px;
    width: 298px;
    height: 54px;
    border: none;
}

%button1_clicked {
    color: white;
    background-color: $green;
    border-radius: 25px;
    width: 298px;
    height: 54px;
    border: none;
}

%button2 {
    color: white;
    background-color: $orange;
    width: 298px;
    height: 54px;
    border: none;
}

%button2_hover {
    background-color: $dark_orange;
}

%button2_clicked {
    color: white;
    background-color: $green;
    width: 298px;
    height: 54px;
    border: none;
}

%button3 {
    color: $green;
    background-color: $frosted_glass;
    width: 129px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid $green;
}

